@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900');

@import '_partials/_normalize';
@import '_partials/_variables';

@function dark($cor, $porcentagem:30%) {
    @return darken($cor, $porcentagem);
}

body {
    font-family: 'Titillium Web', sans-serif;
      background-color: #02031f;
}

.bg-page {
    background-image: url(../img/bg-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-position: top center;
    background-color: #02031f;
    
    @media(max-width:990px)
    {
        background-image: url(../img/bg-main-mobile.jpg);
        
    }
}


header {
    position: absolute;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: flex-end
}

@media(max-width:990px) {
    header {
        position: absolute;
        width: 100%;
        justify-content: center
    }
}

header .menu-link {
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 0
}

.logo-top {
    max-width: 200px;
    margin-bottom: 1rem;
    
    @media(max-width:990px)
    {
        margin-top: 1rem;
    }
}

.container-flex {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container-flex-column {
    @extend .container-flex;
    flex-direction: column;
}

@media(min-width:990px)
{
    .container-flex-column-mobile{
        display: none;
    }
    
}
.container-flex-row {
    @extend .container-flex;
    flex-direction: row;
}

.title {
    font-size: 3rem;
    font-family: fiercevector;
    color: #fff;
    margin: 0;
    line-height: 1;
    text-align: center;
}

.subtitle {
    @extend .title;
    color: $azul-marca;
}

.text {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 100;
    margin: 0;
    margin-top: 1rem;
    line-height: 1.7;
    text-align: center;

    b {
        font-weight: 700;
    }
    @media(max-width:990px)
    {
        padding: 1rem;
    }
}

.steps-row {
    $text-steps: #084b97;

    @extend .container-flex-row;
    background-image: url(../img/bg-steps.png);
    height: 254px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 82%;
    z-index: 9;
    margin-top: 5rem;

    @media (max-width: 1080px) {
        height: auto;
        background-image: none;
        flex-direction: column;
    }

    .steps-row-text-one {
        width: 27%;
        padding-right: 7rem;
        padding-left: 3.5rem;

        @media (max-width: 1080px) {
            width: 80%;
            padding: 2.5rem;
            position: relative;
            background-color: rgba(8, 75, 151, 0.7);
            outline: 1px solid #fff;
            outline-offset: -10px;
            border-radius: 10px;
            text-align: center;

            &::after {
                content: "";
                background-image: url(../img/seta.png) ;
                background-repeat: no-repeat;
                display: inline-block;
                position: absolute;
                width: 40px;
                height: 40px;
                bottom: -42%;
                z-index: 9;
                
            }
        }

        p {
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.1rem;
        }

        > .steps-one {
            position: absolute;
            top: -15%;
            left: 0;
            @extend .container-flex-row;

            @media (max-width: 1080px) {
                top: -25%;
                left: 0;
            }

            > .steps-number {
                background-color: #fff;
                padding: 1.5rem;
                border-radius: 100%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    font-size: 3rem;
                    color: $text-steps;
                    font-weight: 800;

                }

            }

            > .steps-text {
                background-color: #fff;
                border-radius: 0 20px 20px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: .5rem 1rem .5rem 2rem;
                margin-left: -2rem;
                z-index: -1;

                @media(max-width: 1080px) {
                    z-index: 9;
                }

                span {
                    font-size: 2rem;
                    text-transform: uppercase;
                    color: $text-steps;
                    font-weight: 800;

                }
            }
        }
    }

    .steps-row-text-two {
        @extend .steps-row-text-one;
        padding-right: 3rem;
        padding-left: 2.5rem;

        @media (max-width: 1080px) {
            margin-top: 4rem;
        }

        .steps-two {
            @extend .steps-one;
            left: 35%;

            @media (max-width: 1080px) {
                top: -21%;
                left: 0;
            }

        }
    }

    .steps-row-text-three {
        @extend .steps-row-text-one;
        padding-right: 2rem;
        padding-left: 5rem;

        @media (max-width: 1080px) {
            margin-top: 4rem;
            padding-right: 3rem;
            padding-left: 2.5rem;
            
            &::after{
                display: none;
            }

        }

        > p > b {
            font-weight: 700;
            color: #fc9105;
        }

        .steps-three {
            @extend .steps-one;
            left: 73%;

            @media (max-width: 1080px) {
                top: -21%;
                left: 0;
            }
        }
    }
}

.button-cta {
    background: $azul-marca;
    color: #fff;
    border: none;
    position: relative;
    font-size: 2.6em;
    padding: 1.5rem;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 3rem;
    margin-bottom: 1rem;

    &:hover {
        background: #084b97;
        color: $azul-marca;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height:3px;
        width: 0;
        background: $azul-marca;
        transition: 400ms ease all;
    }

    &:after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
    }

    &:hover:before,
    &:hover:after {
        width: 100%;
        transition: 800ms ease all;
    }

    @media(max-width:700px) {
        font-size: 1.6rem;
    }


    > a {
        text-decoration: none;
        color: #fff;
    }


}

.title-steps {
    @extend .title;
    font-size: 2rem;
    margin-top: 2rem;
}

.formas-pagamento {
     margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    > .line-vertical {
        border: .9px solid #fff;
        width: 95%;
    }

    > img {
        padding-left: .5rem;
        padding-right: .5rem;
    }

}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    bottom: 0;
    width: 100%
}

@media(max-width:1380px) {
    .footer {
        position: relative
    }
}

.footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;


    > a {
        font-size: 12px;
        color: #fff;
        margin: 0 10px
    }
}

.footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 80%;

    > p {
        font-size: .7rem;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        color: #c1c1c1
    }
}

@import '_partials/_modal';
