.modal,
.modal-box {
    z-index: 900
}

.modal-sandbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: 0 0
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    background: rgba(0, 0, 0, .8);
    overflow: auto
}

.modal-box {
    position: relative;
    width: 80%;
    max-width: 920px;
    margin: 100px auto;
    animation-name: modalbox;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(0, 0, .3, 1.6)
}

.modal-header {
    padding: 10px 20px;
    background: #084b97;
    color: #fff
}

.modal-header h2 {
    font-size: 1.5rem
}

.modal-body {
    background: #eceff1;
    padding: 60px 40px;
    font-size: 1rem
}

.modal-body li {
    line-height: 1.5
}

@media(max-width:690px) {
    .modal-body {
        padding: 10px 20px
    }
}

.close-modal {
    text-align: right;
    cursor: pointer;
    background-color: #084b97;
}

@-webkit-keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0
    }

    100% {
        top: 0;
        opacity: 1
    }
}

@keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0
    }

    100% {
        top: 0;
        opacity: 1
    }
}

.modal-trigger,
button {
    color: #fff;
    text-decoration: none;
        
}

.modal-trigger {
    transition: ease .2s;
    font-size: 1rem;
    margin-bottom: 1rem
}